<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <h2> Registration for the web! </h2>
  <form method="POST" action="/register">
    <label>E-MAIL:</label>
    <input type="text" name='email' />
    <br/>
    <label>PASSWORD: </label>
    <input type="text" name='password' />
    <br/>
    <button type="submit" class="btn btn-info">Register</button>
  </form>
</body>
</html>